@font-face {
font-family: 'Ubuntu';
src: url('assets/fonts/Ubuntu/Ubuntu-Regular.woff') format('woff');
}
@font-face {
font-family: "Josefin Sans";
src: url('assets/fonts/Josefin_Sans/JosefinSans-Regular.ttf') format('truetype');
}

.tits
{

  font-family: 'Ubuntu';
  font-size: 34px;

}
.infos
{
	font-family: "Josefin Sans";
}